@import '../../../styles/colors';

.navbar{
    width: 100%;
    height: 70px;
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: $black-2;

    // &__logo{
        // justify-self: start;
    // }

    &__language{
        // justify-self: center;
        display: none;
    }

    // &__button{
        // justify-self: end;
    // }
}

@media (max-width: 425px){
    .navbar{
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__language{
            display: none;
        }
    }
}