@import '../../../styles/reset',
        '../../../styles/colors';

.dark-wrap{
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black-1;
}